<body style="background-color: blanchedalmond;">
    <h1>Home page</h1>
    <h2><a href="/product/insert" style="text-decoration: none;">Create a new Product</a></h2>
    <h2><a href="/product/allProduct" style="text-decoration: none;">View all Product</a></h2>
</body>
