<body style="background-color: blanchedalmond;">
    <h1>ATN Toy</h1>
    <style>
        a{
            text-decoration: none;
        }
        a:hover {
            color: #8a5511;
        }
        img{
            width: 1200px;
        }
    </style>
    <h2><a href="/product/insert">Create a new Lego</a></h2>
    <h2><a href="/product/allProduct">View all Lego</a></h2>
    <h2><a href="/car/add">Create new Car</a></h2>   
    <h2><a href="/car/allCar">View all Car</a></h2>
    
    <div class="banner-image">
        <img src="./public/images/lego-sets-kids-2048px-2045.png" alt="">
        <img src="./public/images/best-car-toys-kids.png" alt="">
    </div>
</body>
