<body style="background-color: blanchedalmond;">
    <h1>Home page</h1>
    <style>
        a{
            text-decoration: none;
        }
    </style>
    <h2><a href="/product/insert">Create a new Product</a></h2>
    <h2><a href="/product/allProduct">View all Product</a></h2>
    <h2><a href="/car/add">Create new Car</a></h2>   
    <h2><a href="/car/allCar">View all Car</a></h2>
    
</body>
